/* Tableau central */

.table_main {
    display:block;
    border:solid;
    overflow:scroll;
    max-height:500px;
}

.table_header {
    display:flex;
    justify-content:left;
    width:100%;
    border:solid 2px;
}

.table_header_col {
    margin:0px;
    border:solid 1px;
    min-width: 10px;
    min-height:30px;
    height: 100%;
    width:10%;
    white-space:normal;
    overflow:hidden;
    text-overflow: fade;
    text-align:center;
    resize:inline;
}

.table_header_cell_title {
    display:flex;
    justify-content:space-around;
    text-align:center;
    font-size:18px;
    border:solid 1px black;
    border-top:none;
    border-bottom:solid 2px black;
}

#no_data {
    text-align:center;
    padding:5px;
}

/* Filtre */

.reload_button_div {
    display:flex;
    justify-content: space-evenly;
}

.filter_row {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    height:auto;
    min-height: 40px;
}

.filter_zone {
    margin:3px;
    min-height: 40px;
    height:100%;
    border:solid 2px;
    border-color:rgba(90,125,110,0.6);
    border-radius:30px;
    text-align:center;
    vertical-align: center;
}

.filter_button {
    width:95%;
    margin:2px;
    border: 2px solid grey;
    border-radius:50px;
    background-color:rgba(0,0,0,0);
    font-size:1.3em;
}

.filter_div {
    text-align: left;
    padding-left: 0px;
}

.filter_option {
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:1px;
}

.filter_button_div {
    display:flex;
    flex-direction: column;
    justify-content: start;
}

.filter_button_under_div {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.reload_button, .copy_button {
    margin:auto;
    width:50px;
    height:50px;
}

.img_button {
    width:40px;
    height:40px;
}

.master_label {
    font-weight:bold;
}

#nb_lines {
    font-weight:bold;
}

/* Coloration par type de question */
:root {
    --color_evocation : #C6DEF1;
    --color_evocation_text : #3d99e4;
    --color_like : #C9E4DE;
    --color_like_text : #3fd370;
    --color_dislike : #FF8A8A;
    --color_dislike_text : #f71212;
    --color_expectation : #FAEDCB;
    --color_expectation_text : #f8bf2e;
}

.question_evocation {
    background-color:var(--color_evocation);
}

#type_evocation {
    background-color:var(--color_evocation);
    color:var(--color_evocation_text);
}

.question_like {
    background-color:var(--color_like);
}

#type_like {
    background-color:var(--color_like);
    color:var(--color_like_text); 
}

.question_dislike {
    background-color:var(--color_dislike);
}

#type_dislike {
    background-color:var(--color_dislike);
    color:var(--color_dislike_text);    
}

.question_expectation {
    background-color:var(--color_expectation);
}

#type_expectation {
    background-color:var(--color_expectation);    
    color:var(--color_expectation_text);    
}

/* Largeur des colonnes par défaut */

.cell_id {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_idAudite {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_idEtude {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_idGroupe {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_idIdee {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_idQuestion {
    width:10%;
    min-width:5%;
    max-width:50%;
}

.cell_ideeView {
    width:70%;
    min-width:5%;
    max-width:100%;
}

.cell_nomGroupe {
    width:20%;
    min-width:5%;
    max-width:100%;
}

.cell_sujet {
    width:30%;
    min-width:5%;
    max-width:100%;
}

.cell_texteQuestion {
    width:50%;
    min-width:5%;
    max-width:100%;
}

.cell_type {
    width:20%;
    min-width:5%;
    max-width:100%;
}

.cell_idShow {
    width:25%;
    min-width:5%;
    max-width:100%;
}

.table_row {
    display:flex;
}

.flex_row {
    display:flex;
    justify-content:left;
    flex-direction: row;
}

.width-25 {
    width:25%;
}

.width-50 {
    width:50%;
}

.table_cell {
    border:solid 1px;
    min-height:30px;
    min-width: 10px;
    height: 57px;
    width:100%;
    padding:5px;
    white-space:normal;
    overflow:hidden;
    text-overflow: fade;
    text-align:left;
}

a > .table_cell {
    text-align:center;
    vertical-align: middle;
    font-weight:bold;
    font-size:18px;
    text-decoration:underline;
    color:black;
}

/* Bouton annexe */

.arrow_up {
    width:40px;
    height:30px;
    border-radius: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #5a7d6d;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.up_button {
    background-color: rgba(0, 0, 0, 0);
}

.up_img:hover {
    background-color: #3f584c;
}